<section id="about_service_offer" class="section_padding_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img src="uploads/HolidayDestinations/icon/world.png" alt="img"></br>
                    <h5><a href="#!">Best services</a></h5></br>
                    <p>Delivering excellence with reliability, innovation, and customer satisfaction at the core.
                        Experience top-notch solutions tailored to your needs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img src="uploads/HolidayDestinations/icon/persentis.png" alt="img">
                    <h5><a href="#!">Awesome deals</a></h5>
                    <p>Enjoy unbeatable offers and exclusive discounts that bring you the best value</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img src="uploads/HolidayDestinations/icon/walte.png" alt="img">
                    <h5><a href="#!">Trusted payment</a></h5>
                    <p>Secure, fast, and hassle-free transactions with complete peace of mind</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img src="uploads/HolidayDestinations/icon/star.png" alt="img">
                    <h5><a href="#!">Top facility</a></h5>
                    <p>Experience world-class services with cutting-edge solutions tailored for you</p>
                </div>
            </div>
        </div>
    </div>
</section>