<!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Common Banner Area -->
<section id="common_banner" class="banner-section text-white d-flex align-items-center justify-content-center text-center">
    <div class="overlay"></div>
    <div class="common_bannner_text">
        <h2 class="display-4 fw-bold"><%= pageTitle %></h2>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span> <%= pageTitle %></li>
        </ul>
    </div>
</section> 