<!-- Cta Area -->
    <section id="cta_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="cta_left">
                        <div class="cta_icon">
                            <img src="uploads\HolidayDestinations\common\email.png" alt="icon">
                        </div>
                        <div class="cta_content">
                            <h4>Get the latest news and offers</h4>
                            <h2>Subscribe to our newsletter</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cat_form">
                        <form action="/subscribe" method="POST" id="cta_form_wrappper">
                            <%- include('../partials/flash') %>
                                <div class="input-group"><input type="text" class="form-control" name="subscribe[email]"
                                        placeholder="Enter your mail address"><button class="btn btn_theme btn_md"
                                        type="submit">Subscribe</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>