<!-- Top Bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-list">
                            <li>
                                <a href="#!"><i class="fab fa-facebook"></i></a>
                                <a href="#!"><i class="fab fa-twitter-square"></i></a>
                                <a href="#!"><i class="fab fa-instagram"></i></a>
                                <a href="#!"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li><a href="tel:+91-7572882818"><span>+91-7572882818</span></a></li>
                            <li><a href="mailto:info@vedavonager.in"><span>info@vedavonager.in</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">                        
                    </div>
                </div>
            </div>
        </div>